section.about
    .container
        .about-box
            .about-box__data
                article.about-box__data__article
                    h2.about-box__data__title Triple Berry Smoothie
                    p.about-box__data__text A smoothie is so much more than blended fruit. It's an art with all of it's different elements blending perfectly together.
                article.about-box__data__article
                    h2.about-box__data__title Pick your fruit
                    p.about-box__data__text We chose strawberries, blackberries, raspberries, and bananas to be our base, but any combo of fruit is great.
                article.about-box__data__article
                    h2.about-box__data__title Fresh or frozen fruit?
                    p.about-box__data__text For smoothies, frozen fruit is best. It blends up thicker than fresh and gives you a really cold smoothie to enjoy when done.
            .about-box__data
                a(name="about")
                    img(src="static/images/content/about-img.png" alt="coctail").about-box__data__pic
            .about-box__data
                article.about-box__data__article
                    h2.about-box__data__title Add a thickener.
                    p.about-box__data__text We use unsweetened greek yogurt in our smoothie, but peanut butter, almond butter, or vanilla yogurt are all great options.
                article.about-box__data__article
                    h2.about-box__data__title Choose a liquid
                    p.about-box__data__text Almond milk is great for the added nutty flavor, but coconut milk pairs well with a tropical smoothie.
                article.about-box__data__article
                    h2.about-box__data__title Throw some add-ins in
                    p.about-box__data__text Add some spinach or kale for additional nutrition or flax seeds for omega-3s. Flavors like fresh mint, vanilla extract, cinnamon, or honey
