section.banner
        #captioned-gallery
            .banner__slider
                .banner__slider__slide.svg-style
                    .banner__slider__item(style="background-image: url(static/images/content/banner_1.jpg);")
                        a( name="top")
                            h1.banner__slider__slide__title About us
                        p.banner__slider__slide__text Some facts about our activity
                .banner__slider__slide.svg-style
                    .banner__slider__item(style="background-image: url(static/images/content/banner_2.jpg);")
                        h1.banner__slider__slide__title About us
                        p.banner__slider__slide__text Some facts about our activity
                .banner__slider__slide.svg-style
                    .banner__slider__item(style="background-image: url(static/images/content/banner_3.jpg);")
                        h1.banner__slider__slide__title About us
                        p.banner__slider__slide__text Some facts about our activity
                .banner__slider__slide.svg-style
                    .banner__slider__item(style="background-image: url(static/images/content/banner_1.jpg);")
                        h1.banner__slider__slide__title About us
                        p.banner__slider__slide__text Some facts about our activity
                .banner__slider__slide.svg-style
                    .banner__slider__item(style="background-image: url(static/images/content/banner_2.jpg);")
                        h1.banner__slider__slide__title About us
                        p.banner__slider__slide__text Some facts about our activity