section.counter
        .counter-box
            ul.counter-list.svg-style
                li.counter-list__item
                    .counter-list__pic
                        img(src="static/images/content/cherry.svg" alt="cherry")
                    span.timer( data-from="0" data-to="4832" data-speed="5000" data-refresh-interval="5")
                    span.counter-list__item__text Cherry smoothies
                li.counter-list__item
                    .counter-list__pic
                        img(src="static/images/content/apple.svg" alt="apple")
                    span.timer( data-from="0" data-to="2531" data-speed="5000" data-refresh-interval="5")
                    span.counter-list__item__text Apple smoothies
                li.counter-list__item
                    .counter-list__pic
                        img(src="static/images/content/pineapple.svg" alt="ananas")
                    span.timer( data-from="0" data-to="1939" data-speed="5000" data-refresh-interval="5")
                    span.counter-list__item__text Ananas smoothies
                li.counter-list__item
                    .counter-list__pic
                        img(src="static/images/content/banana.svg" alt="banana")
                    span.timer( data-from="0" data-to="7812" data-speed="5000" data-refresh-interval="5")
                    span.counter-list__item__text Bananas smoothies