.counter-box {
    position: relative;
    margin-bottom: 100px;
    @media screen and (max-width: $tablet) {
        margin-bottom: 40px;
    }
    @media screen and (max-width: $mobile) {
        margin-bottom: 20px;
    }
    .counter-list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        min-height: 600px;
        background-size: cover;
        background-color: #FEA3AC;
        @media screen and (max-width: $tablet) {
            grid-template-columns: repeat(2, 1fr);
            padding-top: 20%;
            padding-bottom: 20%;
        }
        @media screen and (max-width: $mobile) {
            grid-template-columns: repeat(1, 1fr);
        }
        &__item{
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 20% 0;
            @media screen and (max-width: $tablet) {
                padding: 10% 0;
            }
            &__pic{
                margin: 0 auto;
            }
            .timer{
                font-family: Waiting for the Sunrise;
                font-size: 60px;
                line-height: 99px;
                color: #DFEEB6;
                @media screen and (max-width: $tablet) {
                    font-size: 40px;
                    line-height: 1.2;
                }
                @media screen and (max-width: $mobile) {
                    font-size: 30px;
                    line-height: 1.2;
                }
            }
            &__text{
                font-weight: bold;
                font-size: 20px;
                line-height: 25px;
                color: #FFFFFF;
                @media screen and (max-width: $tablet) {
                    font-size: 18px;
                    line-height: 1.2;
                }
                @media screen and (max-width: $mobile) {
                    font-size: 16px;
                    line-height: 1.2;
                }
            }
        }
    }  
}