footer.footer
    .container
        .footer__top
            .footer__top__openinghours.footer-top
                h3.footer__title Opening Hours
                ul.footer-top__list
                    li.footer-top__list__item Monday / 9:00 – 20:00
                    li.footer-top__list__item Tuesday / 9:00 – 20:00
                    li.footer-top__list__item Wednesday / 9:00 – 20:00
                    li.footer-top__list__item Thursday / 9:00 – 20:00
                    li.footer-top__list__item Friday / 9:00 – 20:00
                    li.footer-top__list__item Saturday / 9:00 – 20:00
                    li.footer-top__list__item Sunday / CLOSED
            .footer__top__contacts
                a(name="contact")
                    h3.footer__title Contact Info
                ul.footer-top__list
                    li.footer-top__list__item
                        a(href="tel:+38 899 4320 32") +38 899 4320 32 
                    li.footer-top__list__item
                        a(href="mailto:hai@aletheme.com") hai@aletheme.com 
                    li.footer-top__list__item
                        a(href="#") France, Paris, Lille de la Cite 1p
            .footer__top__instagram
                h3.footer__title Instagram feed
                .footer__top__instagram__images
                    img(src="static/images/content/instagram-1.jpg", alt="instagram")
                    img(src="static/images/content/instagram-2.jpg", alt="instagram")
                    img(src="static/images/content/instagram-3.jpg", alt="instagram")
                    img(src="static/images/content/instagram-4.jpg", alt="instagram")
                    img(src="static/images/content/instagram-5.jpg", alt="instagram")
                    img(src="static/images/content/instagram-6.jpg", alt="instagram")
.footer__bottom
        span.footer__bottom__text Copyrights 2020. Ale Theme for WordPress
        span.social-icon
            a(href="#")
                img(src="static/images/content/fb.png" alt="fb")
            a(href="#")
                img(src="static/images/content/youtube.png" alt="youtube")
            a(href="#")
                img(src="static/images/content/instagram.png" alt="instagram")
            a(href="#")
                img(src="static/images/content/twitter.png" alt="twitter")
